* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

p {
    margin-bottom: 0;
}

li {
    list-style: none;
}

main {
    background-color: #F6F6F6;
}

.swiper {
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.btn.show {
    border: none;
}

.dropdown-menu {
    --bs-dropdown-min-width: 0
}

/* header start */
.header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding: 20px 0px;

        .header-logo {
            img {
                width: 100%;
                max-width: 210px;
            }
        }

        .header-search {
            width: 50%;
            position: relative;

            input {
                width: 100%;
                border-radius: 35px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                padding: 0px 75px 0px 15px;
                height: 50px;
                font-size: 15px;
                outline: none;
                position: relative;
                color: #767676;
            }

            button {
                position: absolute;
                border-radius: 50%;
                border: none;
                background-color: #587558;
                color: #fff;
                width: 40px;
                height: 40px;
                font-size: 20px;
                right: 1%;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 8%;
            }
        }

        .header-support {
            display: flex;
            align-items: center;
            gap: 30px;

            .item {
                display: flex;
                align-items: center;
                gap: 15px;

                .icon {
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    h5 {
                        font-weight: 600;
                        margin-bottom: 0;
                    }

                    p {
                        color: #587558;
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .header-logo-menu {
        img {
            width: 100%;
            max-width: 210px;
        }
    }

    .offcanvas-body {
        a {
            font-size: 21px;
        }
    }
}

/* header end */

/* nav start */
nav {
    background-color: #e6effd;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;

        .responsive-nav-links {
            .alt-text {
                font-size: 15px;
            }

            i {
                font-size: 22px;
                cursor: pointer;
            }
        }

        .nav-links {
            display: flex;
            align-items: center;

            li {
                transition: all .6s;
                padding: 10px 20px;
            }

            li:hover {
                background-color: #B3CBF8;
                border-radius: 35px;
            }

            li:hover a {
                color: #1c61e7;
            }

            a {
                color: #333;
                font-size: 17px;
            }
        }

        .nav-right {
            display: flex;
            align-items: center;
            gap: 20px;

            .icon {
                width: 40px;
                height: 40px;
                background: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 17px;
                color: #333;
            }

            .wishlist {
                position: relative;
            }

            .cart {
                position: relative;
                background-color: #fff;

                i {
                    color: #000;
                }
            }

            .count {
                position: absolute;
                color: #1c61e7;
                width: 16px;
                height: 16px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                right: -6%;
                top: -4%;
                font-size: 13px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);

            }

            .alt-text {
                font-size: 13px;
            }
        }
    }
}

/* nav end */

/* responsive-search start */
.responsive-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50%;
    height: 160px;
    position: fixed;
    bottom: 8%;
    left: 15%;
    background-color: #587558;
    border-radius: 10px;
    z-index: 9;
    opacity: 0;
    transform: translateY(100%);
    transition: all .5s;


    input {
        padding: 4px 20px;
        outline: none;
        border: none;
        background: transparent;
        color: #fff;
        font-size: 17px;
        width: 100%;

        &::placeholder {
            color: #fff;
            font-size: 17px;

        }
    }
}

.responsive-search-active {
    opacity: 1 !important;
    transform: translateY(-1%);
}

/* responsive-search end */

/* slider section start */
.slider-section {
    position: relative;
    background-image: url(../images/home/slider-section/home-slider-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding-top: 30px;
    margin-bottom: 80px;

    .slider-main-content {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        .slider-logo img {
            width: 100%;
        }

        .slider-text img {
            width: 100%;
        }
    }

    .main-swiper {
        width: 100%;
        max-width: 50%;

        .swiper-content {
            .main-img {
                background-image: url(../images/home/slider-section/slider-img-1.jpg);
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 555px;
                border-radius: 15px;
            }

            .second-img {
                background-image: url(../images/home/slider-section/slider-image-2.jpg);
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 555px;
                border-radius: 15px;
            }

            .third-img {
                background-image: url(../images/home/slider-section/slider-image-3.jpg);
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 555px;
                border-radius: 15px;
            }

            .main-slider-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;

                h4 {
                    font-size: 38px;
                    color: #fff;
                }

                p {
                    color: #fff;
                    margin-top: 10px;
                }
            }
        }

        .swiper-pagination-bullet-active {
            background-color: #333 !important;
        }

        .swiper-pagination-bullet {
            background-color: #675555 !important;
        }

        .swiper-pagination-bullets {
            padding: 7px 10px;
            background: #fff;
            border-radius: 30px;
            width: 18%;
            left: 40%;
        }
    }

    .main-right {
        width: 100%;
        /* max-width: 50%; */

        .item.one {
            border-radius: 15px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                border-radius: 15px;
                object-fit: cover;
                /* transition: all .3s; */
            }

            .item-overlay {
                width: 100%;
                height: 100%;
                color: #fff;
                flex-wrap: wrap;
            }

            .item-text {
                flex: 1;
                margin-left: 2rem;

                .main-p {
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 40px;
                    margin-bottom: 15px;
                }
            }

            .item-img {
                width: 100%;
                height: 100%;
                flex: 1;
            }

            /* &:hover img {
                scale: 1.06;
            } */
        }

        .item-absolute {
            top: 15%;
            right: 3%;

            .main-p {
                color: #fff;
                font-size: 28px;
                margin-bottom: 20px;
                width: 100%;
                max-width: 300px;
                font-weight: 500;
            }
        }

        .p-size {
            color: #fff;
            font-size: 19px;
            margin-bottom: 20px;
        }

        .details {
            border: none;
            padding: 10px 15px;
            border-radius: 7px;
        }

        .bottom {
            .bottom-card {
                border-radius: 15px;
                cursor: pointer;
                padding: 11px;
                width: 100%;
                height: 280px;
                transition: all .3s;

                &:hover .text img {
                    scale: 1.03;
                }
            }

            .car-text-img {
                width: 100%;
                max-width: 300px;
                border-radius: 6px;
                transition: all .3s;
            }

            .car-text-img {
                transition: all .3s;

                &:hover {
                    scale: 1.03;
                }
            }

            .text {
                p {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .photograph {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 100%;
                    max-height: 189px;
                    object-fit: contain;
                }
            }
        }
    }

    .slider-bcg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 15px;
    }

    .item-bcg {
        background-image: url(../images/home/slider-section/slider-grad-bg.jpg);
        background-size: cover;
        background-position: center;
    }

    /* .photo-bcg {
        background-image: url(../images/home/slider-section/photo-idea.png);
        background-size: contain;
        background-position: center;
        transition: all .5s;
        background-repeat: no-repeat;

        &:hover .text-image img {
            scale: 1.03;
        }
    } */

    .photo-responsive-bcg {
        background-image: url(../images/home/slider-section/Artboard_2[1].png);
        background-size: contain;
        background-position: center;
        transition: all .5s;
        background-repeat: no-repeat;
        width: 100%;
        height: 180px;
    }

    .bride-car-bcg {
        background-image: url(../images/home/slider-section/car-bride.jpg);
        background-size: cover;
        background-position: center;

        .text {
            margin-bottom: 62%;
        }
    }

    .bride-photo-bcg {
        background-image: url(../images/home/slider-section/FOTOQRAF_SON_1[1].png);
        background-size: cover;
        background-position: center;

        .text-photo {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            bottom: -10%;
            display: flex;
            align-items: center;
            justify-content: center;

            .photo-text-img {
                width: 100%;
                border-radius: 6px;
                transition: all .3s;
            }
        }
    }

    .slider-content-btn {
        background-color: #fff;
        color: #587558;
        font-size: 17px;
        border-radius: 15px;
        padding: 10px 40px;
        font-weight: 500;
    }
}

/* slider section end */
.category-section {
    margin-bottom: 60px;
    margin-top: 14rem;

    .category-card {
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        /* max-width: 300px; */
        margin-bottom: 5%;
        transition: all 0.5s ease;
        transform: translateY(20px);
        transition: all 0.5s ease;

        img {
            width: 100%;
            object-fit: contain;
            border-radius: 10px;
            /* aspect-ratio: 130 / 130; */
            transition: all .3s;

            &:hover {
                scale: 1.03;
            }
        }

        .category-content {
            margin-top: 2%;

            p {
                font-weight: 500;
            }

            span {
                color: #333;
            }
        }

        .product {
            width: 100%;
            height: 211px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .category-btn .btn {
        background-color: #587558;
        color: #fff;
        font-size: 17px;
        border-radius: 15px;
        padding: 10px 40px;
        margin-top: 2%;
    }

    .col-6 {
        width: 50%;
    }

    .col-3 {
        width: 25%;
    }
}

.show {
    transform: translateY(0);
}

/* book section start */

.book {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    top: 57rem;

    .form-container {
        background: #fff;
        border-radius: 30px;
        padding: 40px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        .form-border {
            border-radius: 30px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            width: 100%;
            border: 2px solid #AD0000;

            .form-badge {
                .title {
                    font-size: 23px;
                    line-height: 1.2;
                    font-weight: 700;
                    color: #1a1a1a;
                }
            }
        }

        .select-wrapper {
            display: flex;
            gap: 10px;

            .form-group {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                width: 100%;

                input {
                    height: 40px;
                    width: 100%;
                    padding: 10px 15px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border-radius: 44px;
                    border: 1px solid #AD0000;
                    color: #1a1a1a;
                    background-color: #fff;
                    outline: none;
                    font-size: 16px;
                    line-height: 18px;
                    font-family: Arial, sans-serif;
                }

                i {
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    user-select: none;
                    pointer-events: none;
                    color: #5f5f5f;
                    margin-right: 5px;
                }
            }

            .date-select,
            .clock-select {
                height: 40px;
                width: 100%;
                padding: 10px 15px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                border-radius: 44px;
                border: 1px solid #AD0000;
                color: #1a1a1a;
                background-color: #fff;
                outline: none;
                font-size: 16px;
                line-height: 18px;
                font-family: Arial, sans-serif;
            }

            .phone-input {
                display: flex;
                align-items: center;
                border-radius: 50px;
                background-color: #fff;
                height: 40px;
                width: 100%;
                padding: 10px 15px;
                box-sizing: border-box;
                border: 1px solid #AD0000;
                line-height: 18px;

                .phone-select {
                    border: none;
                    background: transparent;
                    font-size: 14px;
                    outline: none;
                    cursor: pointer;
                    border-right: 1px solid #aaa;
                    padding-right: 8px;
                    margin-right: 8px;
                    border-radius: none !important;
                }

                input {
                    border: none;
                    outline: none;
                    flex: 1;
                    padding-left: 8px;
                    font-size: 16px;
                    color: #1a1a1a;
                }

                i {
                    color: gray;
                    font-size: 16px;
                }
            }
        }

        .popper {
            display: flex;
            align-items: center;
            gap: 20px;

            i {
                cursor: pointer;
                font-size: 18px;
                color: #000;
            }

            &:hover .popup-text {
                opacity: 1 !important;
            }

            .popup-text {
                position: absolute;
                background: #fff;
                color: #5f5f5f;
                padding: 15px;
                width: 300px;
                font-size: 16px;
                border: 1px solid #d1d1d1;
                box-shadow: 0 2px 3px rgba(74, 74, 74, .1), 0 0 0 1px rgba(74, 74, 74, .1);
                border-radius: 10px;
                opacity: 0;
                transition: opacity .5s ease;
                z-index: 3;
                pointer-events: none;
                right: 0;
                top: 2rem;
            }
        }

        .free-badge {
            padding: 8px 20px;
            line-height: 1.2;
            border-radius: 10px;
            font-weight: bold;
            background-color: #AA883B;
            color: #fff;
            font-size: 17px;
            font-weight: 500;
            align-self: center;
            width: 100%;
            text-align: center;
        }
    }

    button {
        display: flex;
        margin: 0;
        min-width: 160px;
        width: 166px;
        justify-content: center;
        align-items: center;
        background-color: #AD0000;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 25px;
        border-radius: 23px;
        height: 40px;
        border: none;
        column-gap: 10px;
        cursor: pointer;
    }

    .dropdown-menu.show {
        width: 100%;
    }
}

/* book section start */


/* category section start */

/* category section end */

/* popular products section start */
/* .popular-products-section {
    margin-bottom: 60px;

    .product {
        border-radius: 10px;
        background-color: white;
        padding: 10px;

        img {
            width: 100%;
            object-fit: contain;
            border-radius: 10px;
            aspect-ratio: 150/150;
            height: unset;
            transition: all .3s;

            &:hover {
                scale: 1.06;
            }
        }

        .product-content {
            p {
                font-weight: 500;
            }

            span {
                color: #333;
            }
        }
    }
} */

/* popular products section end */

/* products section start */
.products-section {
    margin-bottom: 60px;

    .more-products {
        button {
            background-color: #AA883B;
            color: #fff;
            padding: 10px 20px;
            border-radius: 35px;
            border: none;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }


    .products-wrapper-r {
        .product {
            width: 100%;
            max-width: 320px;
            border-radius: 15px;
            cursor: pointer;

            img {
                border-radius: 10px;
            }

            .products-wrapper-r-content {
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 14px;
                font-size: 22px;
                line-height: 28px;
                font-weight: 700;
                color: #fff;
            }

            .product-content {
                margin-top: 20px;

                p {
                    font-size: 17px;
                    font-weight: 500;
                }

                span {
                    color: #a5a5a5;
                    font-size: 15px;
                }

                .add-basket-btn {
                    background-color: #587558;
                    color: #fff;
                    font-size: 17px;
                    border-radius: 15px;
                    padding: 10px 40px;
                    margin-top: 2%;
                }
            }

            .top {
                width: 100%;
                height: 60px;

                .fa-heart {
                    font-size: 20px;
                    cursor: pointer;
                }
            }

            .product-sale-price {
                button {
                    border: none;
                    background-color: #1c61e7;
                    padding: 5px 10px;
                    min-width: 50px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 1.2;
                    text-transform: uppercase;
                    border-radius: 12px;
                }
            }

            .new-product-badge {
                button {
                    border: none;
                    background-color: #438E44;
                    ;
                    padding: 5px 10px;
                    min-width: 50px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 1.2;
                    border-radius: 12px;
                    text-transform: uppercase;
                }
            }

        }
    }

}

/* products section end */

/* discounted products section start */

.discounted-products-section {
    margin-bottom: 60px;

    .nav-link {
        width: 10rem;
        white-space: normal;
        text-align: center;
        color: #000;
    }

    .nav-tabs {
        --bs-nav-tabs-border-color: transparent !important;
        --bs-nav-tabs-border-width: 0 !important;
        overflow-x: auto !important;
        overflow-y: hidden !important;
        scroll-behavior: smooth;
        white-space: nowrap;
        padding-bottom: 0.5rem;
    }

    .nav-tabs::-webkit-scrollbar {
        height: 3px;
    }

    .nav-tabs::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .nav-tabs::-webkit-scrollbar-thumb {
        background: #BF943D;
        border-radius: 4px;
    }

    .nav-tabs::-webkit-scrollbar-thumb:hover {
        background: #BF943D;
    }

    /* Firefox */
    .nav-tabs {
        scrollbar-width: thin;
        scrollbar-color: #BF943D #f1f1f1;
    }


    .fade:not(.show) {
        display: none;
    }

    .nav-tabs .nav-link.active {
        color: var(--bs-nav-tabs-link-active-color);
        background-color: transparent !important;
        border: none !important;
        border-bottom: 2px solid red !important;
    }

    .nav-link:hover {
        border: none !important;
    }

    .product {
        /* width: 100%; */
        /* max-width: 250px; */
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        transition: all .3s;
        margin-bottom: 12px;

        &:hover {
            box-shadow: 2px 2px 20px 0px #a5a5a5;
        }

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 15px;
        }

        .product-content {
            margin-top: 20px;

            p {
                font-size: 17px;
                font-weight: 500;
            }

            span {
                color: #a5a5a5;
                font-size: 15px;
            }
        }

        .top {
            width: 100%;
            height: 60px;

            .fa-heart {
                font-size: 20px;
                cursor: pointer;
            }
        }

        .product-sale-price {
            button {
                border: none;
                background-color: #1c61e7;
                padding: 5px 10px;
                min-width: 50px;
                color: #fff;
                font-weight: 600;
                font-size: 12px;
                line-height: 1.2;
                text-transform: uppercase;
                border-radius: 12px;
            }
        }

        .new-product-badge {
            button {
                border: none;
                background-color: #438E44;
                ;
                padding: 5px 10px;
                min-width: 50px;
                color: #fff;
                font-weight: 600;
                font-size: 12px;
                line-height: 1.2;
                border-radius: 12px;
                text-transform: uppercase;
            }
        }

    }

    .tab-content {
        margin-top: 20px;
    }

    .products-wrapper {
        .col-lg-3 {
            width: 19%;
        }

        .product {
            img {
                width: 150px !important;
                height: 150px !important;
            }
        }
    }

    .add-basket-btn {
        background-color: #587558;
        color: #fff;
        font-size: 17px;
        border-radius: 15px;
        padding: 10px 30px;
        margin-top: 2%;
        border: none;
    }
}

/* discounted products section end */

/* !responsive start */
@media (max-width:1200px) {
    .slider-section {
        /* margin-bottom: 170px !important; */

        .container {
            flex-direction: column;
        }

        .main-swiper,
        .main-right {
            max-width: 100%;
        }

        .bottom {
            flex-direction: column !important;
        }

        .image {
            margin-left: 18rem !important;
        }

        .text-photo {
            .photo-text-img {
                max-width: 400px;
            }
        }
    }

    .header-support {
        display: none !important;
    }

    .products-wrapper {
        /* flex-wrap: wrap; */
        justify-content: center;

    }

    .bride-car-bcg {
        .text {
            margin-bottom: 10% !important;
        }
    }

    .book {
        padding: 0rem 1rem !important;

        .select-wrapper {

            .form-group,
            .date-select,
            .clock-select {
                display: none !important;
            }
        }

        .form-badge {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 17px !important;
            }
        }

        button {
            width: 100% !important;
        }

        .phone-select {
            padding-right: 0 !important;
            margin-right: 0 !important;
        }
    }

    .products-section {
        .products-wrapper-r {
            overflow: auto;
        }
    }
}

@media (max-width:992px) {
    body {
        position: relative;
    }

    .header {
        .container {
            align-items: flex-start !important;
            padding: 23px !important;
            flex-direction: column !important;

            .header-search {
                width: 100% !important;
            }
        }
    }

    .menu-and-logo {
        width: 100%;
        justify-content: space-between;
    }

    nav {
        padding: 10px 0px;
        position: fixed;
        z-index: 10;
        width: 100%;
        bottom: 0;

        .container {
            padding: 0px 23px;
            justify-content: unset !important;

            .nav-right {
                justify-content: space-between;
                width: 100%;
                gap: 0 !important;

                .icon {
                    width: 40px;
                    height: 40px;
                    font-size: 17px;
                }

                /* .dropdown {
                    display: none !important;
                } */
            }
        }

    }

    .slider-section {
        height: 400px !important;
    }

    .slider-section {
        padding-top: 0;

        .main-swiper {
            .swiper-pagination-bullets {
                display: none !important;
            }

            .main-slider-content {

                p {
                    font-size: 14px;
                }

                h4 {
                    font-size: 30px !important;
                }
            }
        }
    }

    .products-section {
        .product {
            width: calc(33.333% - 1rem);
        }
    }

    .products-wrapper {
        .col-6 {
            width: 48% !important;
        }
    }

    .category-wrapper {
        justify-content: center !important;
    }

    .category-btn .btn {
        margin-top: 8% !important;
    }

    .book {
        top: 36rem !important;

        .form-container {
            padding: 25px !important;

            .select-wrapper {
                flex-direction: column !important;

                input,
                select {
                    max-width: none !important;
                }

                .phone-input input {
                    width: 60%;
                }
            }

            .form-border {
                padding: 25px !important;

                .free-badge {
                    padding: 10px 50px !important;
                }

                span {
                    text-align: center;
                    font-weight: 600 !important;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .slider-section {
        .main-right {
            .item-absolute {
                .main-p {
                    font-size: 23px;
                    margin-bottom: 10px !important;
                }
            }

            .p-size {
                font-size: 17px !important;
                margin-bottom: 10px !important;
            }

            .details {
                font-size: 11px;
            }
        }

        .slider-logo img {
            max-width: 210px;
        }
    }

    .products-section {
        .product {
            width: calc(50% - 0.5rem);
        }
    }

    .category-section {
        justify-content: center !important;

        .category-card {
            width: 48% !important;
            margin-bottom: 9% !important;
        }
    }

    .item-text {
        margin-left: 0rem !important;
        padding: 10px;

        .main-p {
            font-size: 17px !important;
            line-height: 25px !important;
            margin-bottom: 10px !important;
        }
    }

    .bottom {
        .bottom-card {
            /* height: 100% !important; */
        }

        .text p {
            font-size: 17px !important;
            line-height: 25px !important;
            margin-bottom: 10px !important;
        }
    }

    .book {
        .form-container {
            padding: 20px !important;
        }

        .phone-input {
            padding: 0px !important;

            input {
                flex: none !important;
            }
        }
    }
}

@media(max-width:500px) {
    .slider-section {
        .slider-content-btn {
            font-size: 12px;
            padding: 7px 18px;
        }

        .main-right {
            .bottom {
                .car-text-img {
                    width: 250px !important;
                }
            }
        }

        .bride-car-bcg {
            .text {
                margin-bottom: 48% !important;
            }
        }

        .bottom {
            .photograph img {
                max-height: 202px !important;
            }
        }
    }
}

@media (max-width:450px) {
    .slider-section {
        .image {
            margin-left: 10rem !important;
        }

        .item.one {
            .btn {
                font-size: 12px !important;
            }
        }
    }

    .main-right {
        .item-absolute {
            top: 21% !important;

            .main-p {
                font-size: 16px !important;
            }
        }
    }

    .discounted-products-section {
        .add-basket-btn {
            font-size: 14px;
            padding: 6px 10px;
        }
    }

    .phone-input {
        .phone-select {
            font-size: 12px !important;
        }

        input {
            font-size: 13px !important;
        }

        i {
            font-size: 14px !important;
        }
    }

    .category-section {
        margin-top: 16rem !important;
    }
}

/*  slider section end */

/* !responsive end */