* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

p {
    margin-bottom: 0;
}

li {
    list-style: none;
}

main {
    background-color: #F6F6F6;
}

.swiper {
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.btn.show {
    border: none;
}

.dropdown-menu {
    --bs-dropdown-min-width: 0
}

/* header start */
.header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding: 20px 0px;

        .header-logo {
            img {
                width: 100%;
                max-width: 210px;
            }
        }

        .header-search {
            width: 50%;
            position: relative;

            input {
                width: 100%;
                border-radius: 35px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                padding: 0px 75px 0px 15px;
                height: 50px;
                font-size: 15px;
                outline: none;
                position: relative;
                color: #767676;
            }

            button {
                position: absolute;
                border-radius: 50%;
                border: none;
                background-color: #1c61e7;
                color: #fff;
                width: 40px;
                height: 40px;
                font-size: 20px;
                right: 1%;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 8%;
            }
        }

        .header-support {
            display: flex;
            align-items: center;
            gap: 30px;

            .item {
                display: flex;
                align-items: center;
                gap: 15px;

                .icon {
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    h5 {
                        font-weight: 600;
                        margin-bottom: 0;
                    }

                    p {
                        color: #1c61e7;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

/* header end */

/* nav start */
nav {
    background-color: #e6effd;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;

        .header-logo-menu {
            img {
                width: 100%;
                max-width: 210px;
            }
        }

        .responsive-nav-links {
            .alt-text {
                font-size: 15px;
            }

            i {
                cursor: pointer;
            }
        }

        .nav-links {
            display: flex;
            align-items: center;

            li {
                transition: all .6s;
                padding: 10px 20px;
            }

            li:hover {
                background-color: #B3CBF8;
                border-radius: 35px;
            }

            li:hover a {
                color: #1c61e7;
            }

            a {
                color: #333;
                font-size: 17px;
            }
        }

        .nav-right {
            display: flex;
            align-items: center;
            gap: 70px;

            .icon {
                width: 40px;
                height: 40px;
                background: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 17px;
                color: #333;
            }

            .wishlist {
                position: relative;
            }

            .cart {
                position: relative;
                background-color: #1c61e7;

                i {
                    color: #fff;
                }
            }

            .count {
                position: absolute;
                color: #1c61e7;
                width: 16px;
                height: 16px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                right: -6%;
                top: -4%;
                font-size: 13px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);

            }

            .alt-text {
                font-size: 13px;
            }
        }
    }
}

/* nav end */

/* slider section start */
.slider-section {
    padding-top: 30px;
    margin-bottom: 60px;

    .main-swiper {
        width: 100%;
        max-width: 50%;

        .swiper-content {
            .main-img {
                background-image: url(../images/home/slider-section/slider-img-1.jpg);
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 460px;
                border-radius: 15px;
            }

            .second-img {
                background-image: url(../images/home/slider-section/slider-image-2.jpg);
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 460px;
                border-radius: 15px;
            }

            .third-img {
                background-image: url(../images/home/slider-section/slider-image-3.jpg);
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 460px;
                border-radius: 15px;
            }

            .main-slider-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                top: 8%;
                left: 14%;

                h4 {
                    font-size: 36px;
                    color: #000;
                }

                p {
                    color: #000;
                    margin-top: 10px;
                }
            }
        }

        .swiper-pagination-bullet-active {
            background-color: #333 !important;
        }

        .swiper-pagination-bullet {
            background-color: #675555 !important;
        }

        .swiper-pagination-bullets {
            padding: 7px 10px;
            background: #fff;
            border-radius: 30px;
            width: 18%;
            left: 40%;
        }
    }

    .main-right {
        width: 100%;
        max-width: 50%;

        .item.one {
            border-radius: 15px;
            background-color: #587558;

            img {
                width: 100%;
                /* aspect-ratio: 675 / 277; */
                border-radius: 15px;
                object-fit: cover;
            }

            .bride-img {
                width: 100%;
                aspect-ratio: 675 / 277;
                border-radius: 15px;
                object-fit: contain;
            }
        }

        .item-absolute {
            top: 25%;
            left: 5%;

            .main-p {
                color: #fff;
                font-size: 28px;
                margin-bottom: 20px;
            }
        }

        .p-size {
            color: #fff;
            font-size: 19px;
            margin-bottom: 20px;
        }

        .details {
            border: none;
            padding: 7px 15px;
            border-radius: 7px;
        }

        .slider-car,
        .slider-camera {
            background-color: #587558;
            border-radius: 15px;
            position: relative;
            width: 100%;

            .image {
                margin-left: 6rem;

                img {
                    width: 100%;
                    max-width: 180px;
                    height: 180px;
                    object-fit: contain;
                }
            }
        }
    }
}

/* slider section end */

/* popular products section start */
.popular-products-section {
    margin-bottom: 60px;

    .product {
        border-radius: 10px;
        background-color: white;
        padding: 10px;

        img {
            width: 100%;
            object-fit: contain;
            border-radius: 10px;
            aspect-ratio: 150/150;
            height: unset;
            transition: all .3s;

            &:hover {
                scale: 1.06;
            }
        }

        .product-content {
            p {
                font-weight: 500;
            }

            span {
                color: #333;
            }
        }
    }
}

/* popular products section end */

/* products section start */
.products-section {
    margin-bottom: 60px;

    .more-products {
        button {
            background-color: #e1ebff;
            color: #1c61e7;
            padding: 10px 20px;
            border-radius: 35px;
            border: none;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }

    .product {
        width: 100%;
        max-width: 250px;
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        transition: all .3s;

        &:hover {
            box-shadow: 2px 2px 20px 0px #a5a5a5;
        }

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 15px;
        }

        .product-content {
            margin-top: 20px;

            p {
                font-size: 17px;
                font-weight: 500;
            }

            span {
                color: #a5a5a5;
                font-size: 15px;
            }
        }

        .top {
            width: 100%;
            height: 60px;

            .fa-heart {
                font-size: 20px;
                cursor: pointer;
            }
        }

        .product-sale-price {
            button {
                border: none;
                background-color: #1c61e7;
                padding: 5px 10px;
                min-width: 50px;
                color: #fff;
                font-weight: 600;
                font-size: 12px;
                line-height: 1.2;
                text-transform: uppercase;
                border-radius: 12px;
            }
        }

        .new-product-badge {
            button {
                border: none;
                background-color: #438E44;
                ;
                padding: 5px 10px;
                min-width: 50px;
                color: #fff;
                font-weight: 600;
                font-size: 12px;
                line-height: 1.2;
                border-radius: 12px;
                text-transform: uppercase;
            }
        }

    }
}

/* products section end */

/* discounted products section start */

.discounted-products-section {
    .nav-tabs {
        --bs-nav-tabs-border-color: transparent !important
    }

    .fade:not(.show) {
        display: none;
    }

    .nav-tabs .nav-link.active {
        color: var(--bs-nav-tabs-link-active-color);
        background-color: transparent !important;
        border: none !important;
    }

    .nav-link:hover {
        border: none !important;
    }

    .product {
        width: 100%;
        max-width: 250px;
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        transition: all .3s;

        &:hover {
            box-shadow: 2px 2px 20px 0px #a5a5a5;
        }

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 15px;
        }

        .product-content {
            margin-top: 20px;

            p {
                font-size: 17px;
                font-weight: 500;
            }

            span {
                color: #a5a5a5;
                font-size: 15px;
            }
        }

        .top {
            width: 100%;
            height: 60px;

            .fa-heart {
                font-size: 20px;
                cursor: pointer;
            }
        }

        .product-sale-price {
            button {
                border: none;
                background-color: #1c61e7;
                padding: 5px 10px;
                min-width: 50px;
                color: #fff;
                font-weight: 600;
                font-size: 12px;
                line-height: 1.2;
                text-transform: uppercase;
                border-radius: 12px;
            }
        }

        .new-product-badge {
            button {
                border: none;
                background-color: #438E44;
                ;
                padding: 5px 10px;
                min-width: 50px;
                color: #fff;
                font-weight: 600;
                font-size: 12px;
                line-height: 1.2;
                border-radius: 12px;
                text-transform: uppercase;
            }
        }

    }
}

/* discounted products section end */

/* !responsive start */
@media (max-width:1285px) {
    .slider-section {
        .container {
            flex-direction: column;
        }

        .main-swiper,
        .main-right {
            max-width: 100%;
        }

        .bottom {
            flex-direction: column !important;
        }

        .image {
            margin-left: 18rem !important;

        }
    }

    .header-support {
        display: none !important;
    }

    .products-wrapper {
        /* flex-wrap: wrap; */
        justify-content: center;

    }
}

@media (max-width:992px) {
    body {
        position: relative;
    }

    .header {
        .container {
            padding: 23px !important;
            flex-direction: column !important;

            .header-search {
                width: 100% !important;
            }
        }
    }

    nav {
        padding: 10px 0px;
        position: fixed;
        z-index: 10;
        width: 100%;
        bottom: 0;

        .container {
            padding: 0px 23px;
            justify-content: unset !important;

            .nav-right {
                gap: 50px !important;

                .icon {
                    width: 30px;
                    height: 30px;
                    font-size: 15px;
                }

                .dropdown {
                    display: none !important;
                }
            }
        }

        .count {
            right: -14% !important;
            top: -26% !important;
        }

    }

    .slider-section {
        padding-top: 0;

        .main-swiper {
            .swiper-pagination-bullets {
                display: none !important;
            }

            .main-slider-content {
                left: 15% !important;

                p {
                    font-size: 14px;
                }

                h4 {
                    font-size: 30px !important;
                }
            }
        }
    }

    .products-section {
        .product {
            width: calc(33.333% - 1rem);
        }

        /* .products-wrapper {
            justify-content: center !important;
        } */
    }
}

@media (max-width:768px) {
    .slider-section {
        .main-right {
            .item-absolute {
                .main-p {
                    font-size: 23px !important;
                    margin-bottom: 10px !important;
                }
            }

            .p-size {
                font-size: 17px !important;
                margin-bottom: 10px !important;
            }

            .details {
                font-size: 11px;
            }
        }
    }

    .products-section {
        .product {
            width: calc(50% - 0.5rem);
        }
    }
}

/*  slider section end */

/* !responsive end */